name: Build and Deploy .NET Core App to Azure Web App

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Setup .NET Core SDK
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: '3.1.x'

    - name: Restore dependencies
      run: dotnet restore MyApi.csproj

    - name: Build project
      run: dotnet build MyApi.csproj --configuration Release --no-restore

    - name: Publish project
      run: dotnet publish MyApi.csproj -c Release -o publish

    - name: Deploy to Azure Web App
      uses: azure/webapps-deploy@v2
      with:
        app-name: "deploy-dotnet-core"   
        publish-profile: ${{ secrets.AZURE_PUBLISH_PROFILE }}
        package: publish


