name: Build and Deploy .NET Core App to Azure Web App

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Setup .NET Core SDK
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: '3.1.x'

    - name: Restore dependencies
      run: dotnet restore WebApp.csproj

    - name: Build project
      run: dotnet build WebApp.csproj --configuration Release --no-restore

    - name: Publish project
      run: dotnet publish WebApp.csproj -c Release -o publish

    - name: Deploy to Azure Web App
      uses: azure/webapps-deploy@v2
      with:
        app-name: "<deploy-dotnet-core>"  
        slot-name: "production"
        publish-profile: ${{ secrets.AZURE_PUBLISH_PROFILE }}
        package: publish

